<!DOCTYPE html>
<html>
  <head>
    <title>Shake It Up!</title>
    <meta name="description" content="Welcome to Shake It Up! - Come add your creative cocktail recipes :)">

    <!-- Facebook Open Graph data (for FB sharing) -->
    <meta property="og:title" content="Shake It Up!" />
    <meta property="og:description" content="Welcome to Shake It Up! - Come add your creative cocktail recipes :)" />
    <meta property="og:image" content=<%= image_path "Halloween-Cocktail.jpg" %> />
    <meta property="og:site_name" content="Shake It Up!" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('cocktail.png') %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <%# enable Bootstrap responsiveness %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- ShareThis -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f02f52c81808f0012503133&product=sticky-share-buttons&cms=sop' async='async'></script>
    <!-- <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5f02f46182708800123b4158&product=sticky-share-buttons"></script> -->
  </head>

  <body>
    <%= render "shared/navbar" %>
      <%= yield %>
  </body>
</html>
