<!DOCTYPE html>
<html>
  <head>
    <title>Shake It Up!</title>
    <meta name="description" content="Welcome to Shake It Up! - Come add your creative cocktail recipes :)">

    <!-- Facebook Open Graph data (for FB sharing) -->
    <meta property="og:title" content="Shake It Up!" />
    <meta property="og:description" content="Welcome to Shake It Up! - Come add your creative cocktail recipes :)" />
    <meta property="og:image" content=<%= image_path "Halloween-Cocktail.jpg" %> />
    <meta property="og:site_name" content="Shake It Up!" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('cocktail.png') %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <%# enable Bootstrap responsiveness %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- Workaround for third-party JavaScript libraries that don’t interact well with Turbolinks page changes -->
    <meta name="turbolinks-visit-control" content="reload"> <!-- Prevent ShareThis widget disappear when go to another internal page -->
    <!-- ShareThis social sharing widget -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f02f52c81808f0012503133&product=sticky-share-buttons&cms=sop' async='async'></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
      <%= yield %>

  </body>
</html>


<%#
  <!-- AddToAny social sharing widget -->
  <!-- Alternative to ShareThis, but look v ugly -->
  <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_whatsapp"></a>
    <a class="a2a_button_wechat"></a>
    <a class="a2a_button_copy_link"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
%>
